{{page-title (concat @model.application.application "Builds")}}

<h3>{{t "page.builds.title"}}</h3>

<ul data-test-build-list class="list">
  {{#each @model key="id" as |build|}}
    <AppItem::Build @build={{build}} />
  {{else}}
    <EmptyState>
      <p>There are no builds to display for this app yet</p>
      <p>To create your first build, you can run
        <CopyableCode @ref="empty-build" @inline="true">
          <code id="empty-build">waypoint build</code>
        </CopyableCode>
        from the CLI</p>
    </EmptyState>
  {{/each}}
</ul>

{{outlet}}