{{page-title (concat "Build" " v" @model.sequence)}}

{{#let (or @model.pushedArtifact @model) as |operation|}}
  <PanelHeader @artifact="build" @sequence={{@model.sequence}}>
    <:actions>
      <Actions::Deploy @sequence={{@model.sequence}} />
    </:actions>
  </PanelHeader>

  <Section @isExpandable={{false}}>
    <:heading>{{t "page.build.overview.heading"}}</:heading>
    <:body>
      <StatusReportMetaTable @model={{@model}} @artifactType="Build">
        <tr>
          <th scope="row">{{t "page.build.overview.status"}}</th>
          <td>
            <OperationStatusIndicator::Build @operation={{operation}} />
          </td>
        </tr>
      </StatusReportMetaTable>
    </:body>
  </Section>
{{/let}}

<Section>
    <:heading>{{t "page.deployment.logs.heading"}}</:heading>
    <:body>
      <OperationLogs @jobId={{@model.jobId}} />
    </:body>
</Section>
