{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title (concat "Build" " v" @model.sequence)}}

{{#let (or @model.pushedArtifact @model) as |operation|}}
  <PanelHeader @artifact="build" @sequence={{@model.sequence}}>
    <:actions>
      <Actions::Deploy @sequence={{@model.sequence}} />
    </:actions>
  </PanelHeader>

  <div class="grid grid--overview-timeline">
    <Section @isExpandable={{false}}>
      <:heading>{{t "page.artifact.overview.heading"}}</:heading>
      <:body>
        <StatusReportMetaTable @model={{@model}} @artifactType="Build">
          <tr>
            <th scope="row">{{t "page.artifact.overview.status"}}</th>
            <td>
              <OperationStatusIndicator::Build @operation={{operation}} />
            </td>
          </tr>
        </StatusReportMetaTable>
      </:body>
    </Section>
    {{#if @model.timeline}}
      <Section @isExpandable={{false}}>
        <:heading>{{t "page.artifact.timeline.heading"}}</:heading>
        <:body>
          <Timeline @model={{@model.timeline}} />
        </:body>
      </Section>
    {{/if}}
  </div>
{{/let}}

<Section>
    <:heading>{{t "page.build.logs.heading"}}</:heading>
    <:body>
      <OperationLogs @jobId={{@model.jobId}} />
    </:body>
</Section>
