<PageHeader @iconName="source-file">
  <div class="title">
    <h2><code>{{@model.sequence}}</code></h2>
    <small>
      <span>Built with <b>{{titleize @model.component.name}}</b>
        {{date-format-distance-to-now @model.status.startTime.seconds }}</span>
    </small>
  </div>
  <div class="actions">
    <Actions::Deploy @id={{@model.id}} />
  </div>
</PageHeader>

<div class="item-row">
  <div class="item">
    <b class="badge badge--success">
      {{inline-svg "check-plain" class="icon"}}
      <span>{{date-format-distance @model.status.startTime.seconds @model.status.completeTime.seconds }}</span>
    </b>
  </div>
</div>

<div class="output-pane">
  <div class="output">
    <code>No build output available</code>
  </div>
</div>