{{page-title (concat "Build" " v" @model.sequence)}}

{{#let (or @model.pushedArtifact @model) as |operation|}}
  <PageHeader @iconName="build">
    <div class="title">
      <h2>
        <b class="badge badge--version">v{{@model.sequence}}</b>
      </h2>
      <small>
        <Pds::Icon
          @type={{icon-for-component operation.component.name}}
          class="icon"
        />

        <span>
          {{t
            (concat
              "build_status"
              ".type-" operation.component.type
              ".state-" operation.status.state
            )
          }}
          <b>{{component-name operation.component.name}}</b>
        </span>
      </small>
    </div>
    <div class="actions">
      <Actions::Deploy @sequence={{@model.sequence}} />
    </div>
  </PageHeader>

  <div class="status-row">
    <div class="item">
      <OperationStatusIndicator @status={{operation.status}} />
    </div>
  </div>
{{/let}}

<OperationLogs @jobId={{@model.jobId}} />
