{{page-title (concat "Build" " v" @model.sequence)}}

{{#let (or @model.pushedArtifact @model) as |operation|}}
  <PanelHeader @artifact="build" @sequence={{@model.sequence}}>
    <:actions>
      <Actions::Deploy @sequence={{@model.sequence}} />
    </:actions>
  </PanelHeader>

  <Section @isExpandable={{false}}>
    <:heading>{{t "page.build.overview.heading"}}</:heading>
    <:body>
      <StatusReportMetaTable @model={{@model}} @artifactType="Build">
        <tr>
          <th scope="row">Status</th>
          <td>
            <Pds::Icon
              @type={{icon-for-component operation.component.name}}
              class="icon"
            />
            <span>
              {{t
                (concat
                  "build_status"
                  ".type-" operation.component.type
                  ".state-" operation.status.state
                )
              }}
              <b>{{component-name operation.component.name}}</b>
            </span>
            <OperationStatusIndicator @status={{operation.status}} />
          </td>
        </tr>
        {{#if @model.preload.jobDataSourceRef.git.commit}}
        <tr>
          <th scope="row">
            Commit
          </th>
          <td>
            <GitCommit @commit={{@model.preload.jobDataSourceRef.git.commit}}/>
          </td>
        </tr>
        {{/if}}
      </StatusReportMetaTable>
    </:body>
  </Section>
{{/let}}

<Section>
    <:heading>{{t "page.deployment.logs.heading"}}</:heading>
    <:body>
      <OperationLogs @jobId={{@model.jobId}} />
    </:body>
</Section>
