<PageHeader @iconName="upload">
  <div class="title">
    <h2><b class="badge badge--version">#{{@model.sequence}}</b> <code>{{@model.id}}</code></h2>
    <small>
      {{inline-svg (icon-for-component @model.component.name) class="icon"}}
      <span>Deployed by <b>{{component-name @model.component.name}}</b>
        {{date-format-distance-to-now @model.status.startTime.seconds }}</span>
    </small>
  </div>
  <div class="actions">
    <div class="button-group">
      <ExternalLink href="https://{{@model.preload.deployUrl}}" class="button button--secondary">
        <span>{{lowercase @model.preload.deployUrl}}</span>
        {{inline-svg "exit" class="icon"}}
      </ExternalLink>
      <Actions::Release @id={{@model.id}} />
    </div>
  </div>
</PageHeader>

<div class="item-row">
  <div class="item">
    {{#if (eq @model.status.state 1)}}
    <b class="badge">{{t 'state.deployment.pending'}}</b>
    {{else if (eq @model.status.state 2)}}
    <b class="badge badge--success">{{t 'state.deployment.success'}}</b>
    {{else if (eq @model.status.state 3)}}
    <b class="badge badge--error">
      {{t 'state.deployment.error'}}
      {{#if @model.status.error.message}}
        : {{@model.status.error.message}}
      {{/if}}
    </b>
    {{/if}}
  </div>

  {{#if @model.build}}
  <div class="item">
    <small>
      Build <a href="#"><b class="badge badge--version">#{{@model.build.sequence}}</b>
        <code>{{@model.build.id}}</code></a>
    </small>
  </div>
  {{/if}}
</div>

<OperationLogs @jobId={{@model.jobId}} />
