<h3>
  {{t "page.deployments.title"}}
</h3>

<ul data-test-deployment-list=true class="list">
  {{#each this.deploymentsByGeneration key="generationID" as |group|}}
    {{#each group.deployments key="id" as |deployment|}}
      <AppItem::Deployment @deployment={{deployment}} />
    {{/each}}
  {{else}}
    <EmptyState>
      <p>There are no deployments to display for this app yet</p>
      <p>To create your first build, you can run
        <CopyableCode @ref="empty-deploy" @inline="true">
          <code id="empty-deploy">waypoint deploy</code>
        </CopyableCode>
        from the CLI</p>
    </EmptyState>
  {{/each}}
  {{#if (and this.hasMoreDeployments (not this.destroyed))}}
    <div class="destroyed-deployments-filter">
      <Pds::HelpText>
        Some deployments have been destroyed and are hidden.
        <Pds::Button
          @compact={{true}}
          @variant="ghost"
          {{on "click" this.showDestroyed}}>
          Display destroyed deployments
        </Pds::Button>
      </Pds::HelpText>
    </div>
  {{/if}}

</ul>

{{outlet}}
