<PageHeader @iconName={{icon-for-component @model.component.name}}>
  <div class="title">
    <h2><b class="badge badge--version">#{{@model.sequence}}</b> <code>{{@model.id}}</code></h2>
    <small>
      <span>Deployed by <b>{{component-name @model.component.name}}</b>
        {{date-format-distance-to-now @model.status.startTime.seconds }}</span>
    </small>
  </div>
  <div class="actions">
    <button class="button button--secondary">
      <span>todo</span>
      {{inline-svg "exit" class="icon"}}
    </button>
    <Actions::Release @id={{@model.id}} />
  </div>
</PageHeader>

<div class="item-row">
  <div class="item">
    {{#if (eq @model.state 1)}}
    <b class="badge">{{t 'state.deployment.pending'}}</b>
    {{else if (eq @model.state 3)}}
    <b class="badge badge--success">{{t 'state.deployment.success'}}</b>
    {{else if (eq @model.state 4)}}
    <b class="badge badge--error">{{t 'state.deployment.destroy'}}</b>
    {{/if}}
  </div>

  {{#if @model.build}}
  <div class="item">
    <small>
      Build <a href="#"><b class="badge badge--version">#{{@model.build.sequence}}</b>
        <code>{{@model.build.id}}</code></a>
    </small>
  </div>
  {{/if}}
</div>

<div class="output-pane">
  <div class="output">
    <code>No deployment output available</code>
  </div>
</div>