{{page-title (concat @model.application.application "Deployments")}}

<h3>
  {{t "page.deployments.title"}}
</h3>

<ul data-test-deployment-list class="list">
  {{#each this.deploymentBundlesByGeneration key="generationID" as |group|}}
    {{#each group.deploymentBundles key="id" as |bundle|}}
      {{#if (or this.isShowingDestroyed (not-eq bundle.deployment.state 4))}}
        <AppItem::Deployment @bundle={{bundle}} @latest={{group.deploymentBundles.[0]}} />
      {{/if}}
    {{/each}}
  {{else}}
    <EmptyState>
      <p>There are no deployments to display for this app yet</p>
      <p>To create your first build, you can run
        <CopyableCode @ref="empty-deploy" @inline="true">
          <code id="empty-deploy">waypoint deploy</code>
        </CopyableCode>
        from the CLI</p>
    </EmptyState>
  {{/each}}
</ul>
{{#if (and this.hasMoreDeployments (not this.isShowingDestroyed))}}
  <div class="destroyed-deployments-filter">
    <Pds::HelpText>
      {{t "page.deployments.destroyed_and_hidden_state"}}
      <Pds::Button
        data-test-display-destroyed-button
        @compact={{true}}
        @variant="ghost"
        {{on "click" this.showDestroyed}}>
        {{t "page.deployments.display_destroyed"}}
      </Pds::Button>
    </Pds::HelpText>
  </div>
{{/if}}

{{outlet}}
