<h3>
  {{t "page.deployments.title"}}
</h3>
<label for="show-destroyed" class="destroyed-deployments-filter">
  <Input
    @id="show-destroyed"
    @type="checkbox"
    @checked={{this.destroyed}}
    {{on "input" (mut this.destroyed)}}/>
    Show destroyed resources
</label>

<ul data-test-deployment-list=true class="list">
  {{#each this.deployments as |deployment|}}
    <AppItem::Deployment @deployment={{deployment}} />
  {{else}}
    <EmptyState>
      <p>There are no deployments to display for this app yet</p>
      <p>To create your first build, you can run
        <CopyableCode @ref="empty-deploy" @inline="true">
          <code id="empty-deploy">waypoint deploy</code>
        </CopyableCode>
        from the CLI</p>
    </EmptyState>
  {{/each}}
</ul>

{{outlet}}
