{{page-title (concat "Deployment" " v" @model.deployment.sequence)}}

<PageHeader @iconName="upload">
  <div class="title">
    <h1><b class="badge badge--version">v{{@model.deployment.sequence}}</b></h1>
    <small>
      <Pds::Icon @type={{icon-for-component @model.deployment.component.name}} class="icon" />
      <span>Deployed by <b>{{component-name @model.deployment.component.name}}</b>
        {{date-format-distance-to-now @model.deployment.status.startTime.seconds }}</span>
    </small>
    {{#if @model.jobDataSourceRef.git.commit}}
      <small>
        <GitCommit @commit={{@model.jobDataSourceRef.git.commit}}/>
      </small>
    {{/if}}
  </div>
  <div class="actions">
    <div class="button-group">
      <ExternalLink
        href={{enforce-protocol @model.deployUrl}}
        class="button button--secondary button--external-link">
        <span>{{lowercase @model.deployUrl}}</span>
        <Pds::Icon @type="exit" class="icon" />
      </ExternalLink>
      <Actions::Release @sequence={{@model.deployment.sequence}} />
    </div>
  </div>
</PageHeader>

<StatusReportBar @model={{@model}} @artifactType="Deployment"/>

<Pds::TabNav>
  <LinkTo @route="workspace.projects.project.app.deployment.operation-logs">
    <Pds::Icon @type="page-outline" class="icon" />
    Operation Logs
  </LinkTo>
  <LinkTo @route="workspace.projects.project.app.deployment.resources">
    <Pds::Icon @type="database" class="icon" />
    Resources
  </LinkTo>
</Pds::TabNav>

{{outlet}}