<PageHeader @iconName="public-default">
  <div class="title">
    <h2><b class="badge badge--version">v{{@model.sequence}}</b> <code>{{ @model.id }}</code></h2>
    <small>
      {{inline-svg (icon-for-component @model.component.name) class="icon"}}
      <span>Released on <b>{{component-name @model.component.name}}</b>
        {{date-format-distance-to-now @model.status.startTime.seconds }}</span>
    </small>
  </div>
  <div class="actions">
    {{#if @isLatest}}
    <button class="button button--primary">
      <span>{{@model.release.url}}</span>
      {{inline-svg "exit" class="icon"}}
    </button>
    {{/if}}
  </div>
</PageHeader>

<div class="item-row">
  <div class="item">
    {{#if (eq @model.state 1)}}
    <b class="badge">{{t 'state.release.pending'}}</b>
    {{else if (eq @model.status.state 2)}}
    <b class="badge badge--success">{{t 'state.release.success'}}</b>
    {{else if (eq @model.status.state 3)}}
    <b class="badge badge--error">
      {{t 'state.release.error'}}
      {{#if @model.status.error.message}}
        : {{@model.status.error.message}}
      {{/if}}
    </b>
    {{/if}}
  </div>

  {{!-- todo(pearkes): API doesn't return this object but just a string of it, so wait for that to be fixed --}}
  {{#if @model.deployment }}
  <div class="item">
    <small>
      Released deployment <LinkTo @route="workspace.projects.project.app.deployment"
        @models={{array @model.deployment.id}}>
        <b class="badge badge--version">v{{@model.deployment.sequence}}</b>
        <code>{{@model.deployment.id}}</code>
      </LinkTo>
    </small>
  </div>
  {{/if}}
</div>

<OperationLogs @jobId={{@model.jobId}} />
