<h3>{{t "page.releases.title"}}</h3>

<ul data-test-release-list=true class="list">
  <AppItem::Release @release={{release}} @isLatest={{true}} />
  <AppItem::Release @release={{release}} />
  <AppItem::Release @release={{release}} />
  <AppItem::Release @release={{release}} />
</ul>