{{page-title (concat @model.application.application "Releases")}}

<h3>{{t "page.releases.title"}}</h3>

<ul data-test-release-list class="list">
  {{#each @model key="id" as |release releaseIndex|}}
    <AppItem::Release @release={{release}} @isLatest={{ eq releaseIndex 0}} />
  {{else}}
    <EmptyState>
      <p>There are no releases to display for this app yet</p>
      <p>To create your first release, you can run
        <CopyableCode @ref="empty-release" @inline="true">
          <code id="empty-release">waypoint release</code>
        </CopyableCode>
        from the CLI</p>
    </EmptyState>
  {{/each}}
</ul>