{{page-title (concat "Release" " v" @model.sequence)}}

{{#if (not-eq this.target.currentRouteName "workspace.projects.project.app.release.resource")}}
  <PanelHeader @artifact="release" @sequence={{@model.sequence}}>
    <:actions>
      {{#if @isLatest}}
        <button class="button button--primary" type="button">
          <span>{{@model.release.url}}</span>
          <FlightIcon @name="external-link" class="icon" />
        </button>
      {{/if}}
    </:actions>
  </PanelHeader>

  <Section @isExpandable={{false}}>
    <:heading>{{t "page.release.overview.heading"}}</:heading>
    <:body>
      <StatusReportMetaTable @model={{@model}} @artifactType="Release">
        <tr>
          <th scope="row">{{t "page.release.overview.status"}}</th>
          <td>
            <OperationStatusIndicator::Release @operation={{@model}}/>
          </td>
        </tr>
      </StatusReportMetaTable>
    </:body>
  </Section>

  {{#if @model.statusReport.resourcesList.length}}
    <Section>
      <:heading>{{t "page.release.resources.heading"}}</:heading>
      <:body>
        <ResourcesTable
          @resources={{@model.statusReport.resourcesList}}
          @route="workspace.projects.project.app.release.resource"
        >
          <:caption>
            {{t "page.release.resources.table-caption" htmlSafe=true}}
          </:caption>
        </ResourcesTable>
      </:body>
    </Section>
  {{/if}}

  <Section>
    <:heading>{{t "page.release.logs.heading"}}</:heading>
    <:body>
      <OperationLogs @jobId={{@model.jobId}} />
    </:body>
  </Section>
{{/if}}

{{outlet}}
