{{page-title (concat "Release" " v" @model.sequence)}}

<PageHeader @iconName="public-default">
  <div class="title">
    {{! TODO(jgwhite): Make this a real <h1> }}
    <h2 aria-level="1"><b class="badge badge--version">v{{@model.sequence}}</b></h2>
    <small>
      <Pds::Icon @type={{icon-for-component @model.component.name}} class="icon" />
      <span>Released on <b>{{component-name @model.component.name}}</b>
        {{date-format-distance-to-now @model.status.startTime.seconds }}</span>
    </small>
  </div>
  <div class="actions">
    {{#if @isLatest}}
    <button class="button button--primary" type="button">
      <span>{{@model.release.url}}</span>
      <Pds::Icon @type="exit" class="icon" />
    </button>
    {{/if}}
  </div>
</PageHeader>

<div class="status-row">
  <div class="item">
    {{#if @model.statusReport}}
      <StatusReportIndicator @statusReport={{@model.statusReport}} />
    {{/if}}
  </div>

  {{!-- todo(pearkes): API doesn't return this object but just a string of it, so wait for that to be fixed --}}
  {{#if @model.deployment }}
  <div class="item">
    <small>
      Released deployment <LinkTo @route="workspace.projects.project.app.deployment"
        @models={{array @model.deployment.id}}>
        <b class="badge badge--version">v{{@model.deployment.sequence}}</b>
        <code>{{@model.deployment.id}}</code>
      </LinkTo>
    </small>
  </div>
  {{/if}}
</div>

<OperationLogs @jobId={{@model.jobId}} />
