{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title "Resources"}}
{{#if @model.resources.length}}
  <ResourcesTableExtended
    @resources={{@model.resources}}
  />
{{else}}
  <EmptyState>
    <p>{{t 'page.resources.table.empty-state.line-1'}}</p>
    <p>{{t 'page.resources.table.empty-state.line-2'}}
      <CopyableCode @ref="empty-build" @inline="true">
        <code id="empty-build">waypoint up</code>
      </CopyableCode>
      {{t 'page.resources.table.empty-state.line-3'}}</p>
  </EmptyState>
{{/if}}
