<AppCard
  data-test-app-card-build={{@model.sequence}}
>
  <:meta-primary>
    <LinkTo
      @route="workspace.projects.project.app.build"
      @models={{array @model.sequence}}
      class="app-card__sequence-link"
    >
      <b class="badge badge--version">v{{@model.sequence}}</b>
    </LinkTo>
    <OperationStatusIndicator @status={{@model.status}} />
  </:meta-primary>

  <:meta-secondary>
    <Pds::Icon
      @type={{icon-for-component @model.component.name}}
      class="icon app-card__component-icon"
    />

    <span>
      {{#if (eq @model.status.state 2)}}
        Built with
        <b>{{component-name @model.component.name}}</b>
        in
        {{date-format-distance @model.status.startTime.seconds @model.status.completeTime.seconds }}
      {{else if (eq @model.status.state 3)}}
        Failed to build with
        <b>{{component-name @model.component.name}}</b>
      {{else}}
        Building with
        <b>{{component-name @model.component.name}}</b>
      {{/if}}
    </span>
  </:meta-secondary>
</AppCard>
