<AppCard
  data-test-app-card-build={{@model.sequence}}
>
  <:meta-primary>
    <LinkTo
      @route="workspace.projects.project.app.build"
      @models={{array @model.sequence}}
      class="app-card__sequence-link"
    >
      <b class="badge badge--version">v{{@model.sequence}}</b>
    </LinkTo>
    <OperationStatusIndicator @status={{or @model.pushedArtifact.status @model.status}} />
  </:meta-primary>

  <:meta-secondary>
    {{#let (or @model.pushedArtifact @model) as |operation|}}
      <Pds::Icon
        @type={{icon-for-component operation.component.name}}
        class="icon app-card__component-icon"
      />
      <span>
        {{t
          (concat
            "build_status"
            ".type-" operation.component.type
            ".state-" operation.status.state
          )
        }}
        <b>{{component-name operation.component.name}}</b>
      </span>
    {{/let}}
  </:meta-secondary>
</AppCard>
