{{#if @isLatest}}
<div class="app-card-item app-card-item--latest">
  <LinkTo @route="workspace.projects.project.app.deployment" @models={{array @model.id }}>
    <p>
      <b class="badge badge--version">v{{@model.sequence}}</b>
      <code>{{truncate @model.id 8 false}}</code>
      {{#if (eq @model.status.state 1)}}
        <b class="badge">
          {{inline-svg "clock-outline" class="icon"}}
        </b>
        {{else if (eq @model.status.state 2)}}
        <b class="badge badge--success">
          {{inline-svg "check-plain" class="icon"}}
        </b>
        {{else if (eq @model.status.state 3)}}
        <b class="badge badge--error">
          {{inline-svg "alert-triangle" class="icon"}}
        </b>
      {{/if}}
    </p>
    <small>
      {{inline-svg (icon-for-component @model.component.name) class="icon"}}
      <span>{{if (eq @model.status.state 1) 'Deploying' 'Deployed'}} by
        <b>{{component-name @model.component.name}} </b>
        {{#if (eq @model.status.state 1)}}
        (Started {{date-format-distance-to-now @model.status.startTime.seconds }})
        {{else}}
        {{date-format-distance-to-now @model.status.completeTime.seconds }}
        {{/if}}
      </span>
    </small>
  </LinkTo>
  {{#if @model.preload.deployUrl}}
  <ExternalLink href="https://{{@model.preload.deployUrl}}" class="button button--secondary">
    {{inline-svg "exit" class="icon"}}
  </ExternalLink>
  {{/if}}
</div>
{{else}}
<li class="app-card-item">
  <LinkTo @route="workspace.projects.project.app.deployment" @models={{array @model.id}}>
    <p>
      <b class="badge badge--version">v{{@model.sequence}}</b>
      <code>{{truncate @model.id 8 false}}</code>
    </p>
    <small>
      {{inline-svg (icon-for-component @model.component.name) class="icon"}}
      <span>
        {{#if (eq @model.status.state 1)}}
        Started {{date-format-distance-to-now @model.status.startTime.seconds }}
        {{else}}
        {{date-format-distance-to-now @model.status.completeTime.seconds }}
        {{/if}}
      </span>
    </small>
  </LinkTo>
  {{#if @model.preload.deployUrl}}
  <ExternalLink href="https://{{@model.preload.deployUrl}}" class="button button--secondary button--compact">
    {{inline-svg "exit" class="icon"}}
  </ExternalLink>
  {{/if}}
</li>
{{/if}}
