<Card @classNames={{unless @releases.length 'empty-state'}}>
  {{#if @releases.length}}
    <Card::Header>
      <h4>
        {{inline-svg "public-default" class="icon"}}
        <span>Latest releases</span>
      </h4>
      <LinkTo @route="workspace.projects.project.app.releases">
        View all releases
      </LinkTo>
    </Card::Header>

    <AppCard::Release @model={{@releases.[0] }} @isLatest="true" />

    {{#if (gt @releases.length '1')}}
      <ul class="app-card-items">
        {{#if @releases.[1]}}
          <AppCard::Release @model={{@releases.[1]}} />
        {{/if}}
        {{#if @releases.[2]}}
          <AppCard::Release @model={{@releases.[2]}} />
        {{/if}}
      </ul>
    {{/if}}
  {{else}}
    <p>
      {{inline-svg "public-default" class="icon"}}
      <span>There are no releases to display yet</span>
    </p>
  {{/if}}
</Card>