<form class="pds-form">
  <div part="fields">
    <fieldset class="pds-formFieldSet">
      <div class="pds-formField">
        <label for="git-source-url" class="pds-fieldName">
          Git Source URL
        </label>
        <Pds::Input
          @type="text"
          aria-describedby="{HELP_ID} {ERROR_ID}"
          id="git-source-url"
          placeholder="https://github.com/mycompany/awesome-project"
          value={{this.git.url}}
          {{on "input" (set this "project.dataSource.git.url" (get _ "target.value"))}}
        />
      </div>
      <div class="pds-formField">
        <label for="git-source-ref" class="pds-fieldName">
          Git Ref
        </label>
        <Pds::Input
          @type="text"
          aria-describedby="{HELP_ID} {ERROR_ID}"
          id="git-source-ref"
          placeholder="main"
          value={{this.git.ref}}
          {{on "input" (set this "project.dataSource.git.ref" (get _ "target.value"))}}
        />
      </div>
      <div class="pds-formField">
        <label for="git-source-path" class="pds-fieldName">
          Git Source Path
        </label>
        <Pds::Input
          @type="text"
          aria-describedby="{HELP_ID} {ERROR_ID}"
          id="git-source-path"
          placeholder="/my-project-path"
          value={{this.git.path}}
          {{on "input" (set this "project.dataSource.git.path" (get _ "target.value"))}}
        />
      </div>
      <div class="pds-formField">
        <label for="git-auth-type" class="pds-fieldName">
          Authentication
        </label>
        <div class="pds-formRadioWrapper">
          <Pds::RadioField
            @id="git-auth-ssh"
            name="git-auth-type"
            value={{5}}
            checked={{eq this.authCase 5}}
            {{on "input" (fn this.setAuthCase 5)}}
          >
            SSH
          </Pds::RadioField>
          <Pds::RadioField
            @id="git-auth-basic"
            name="git-auth-type"
            value={{4}}
            checked={{eq this.authCase 4}}
            {{on "input" (fn this.setAuthCase 4)}}
          >
            Username &amp; Password
          </Pds::RadioField>
        </div>
      </div>
      {{#if this.authSSH}}
        <div class="pds-formField">
          <label for="git-source-ssh" class="pds-fieldName">
            SSH Key
          </label>
          <Pds::Textarea
            aria-describedby="{HELP_ID} {ERROR_ID}"
            id="git-source-ssh"
            placeholder="*****************"
            value={{this.git.ssh.privateKeyPem}}
            {{on "input" (fn this.setSshAuth "privateKeyPem")}}
          />
        </div>
      {{else if this.authBasic}}
        <div class="pds-formField">
          <label for="git-source-username" class="pds-fieldName">
            Username
          </label>
          <Pds::Input
            @type="text"
            aria-describedby="{HELP_ID} {ERROR_ID}"
            id="git-source-user"
            placeholder="mitchellh"
            value={{this.project.dataSource.git.basic.username}}
            {{on "input" (fn this.setBasicAuth "username")}}
          />
        </div>
        <div class="pds-formField">
          <label for="git-source-password" class="pds-fieldName">
            Password
          </label>
          <Pds::Input
            @type="password"
            aria-describedby="{HELP_ID} {ERROR_ID}"
            id="git-source-password"
            placeholder="**********"
            value={{this.project.dataSource.git.basic.password}}
            {{on "input" (fn this.setBasicAuth "password")}}
          />
        </div>
      {{/if}}

      <div class="pds-formField">
        <label class="pds-fieldName">
          Automated Sync
        </label>
        <div class="pds-formFieldToggle">
          <XToggle
            @showLabels={{true}}
            @name="git-sync-enabled"
            @value={{this.project.remoteEnabled}}
            @onToggle={{fn (mut this.project.remoteEnabled)}} as |toggle|>
            <toggle.switch/>

            <toggle.label for="git-sync-enabled">
              <span class="pds-toggleLabel">
                Enable automated deployment on changes
              </span>
            </toggle.label>
          </XToggle>

        </div>
      </div>
    </fieldset>
  </div>

  <Pds::Button @variant="primary" {{on "click" this.saveSettings}}>Apply</Pds::Button>
</form>
