<Card @classNames={{unless @deployments.length 'empty-state'}}>
  {{#if @deployments.length}}
    <Card::Header>
      <h4>
        {{inline-svg "upload" class="icon"}}
        <span>Latest deployments</span>
      </h4>
      <LinkTo @route="workspace.projects.project.app.deployments">
        View all deployments
      </LinkTo>
    </Card::Header>

    <AppCard::Deployment @model={{@deployments.[0] }} @isLatest="true" />

    {{#if (gt @deployments.length '1')}}
      <ul class="app-card-items">
        {{#if @deployments.[1]}}
          <AppCard::Deployment @model={{@deployments.[1]}} />
        {{/if}}
        {{#if @deployments.[2]}}
          <AppCard::Deployment @model={{@deployments.[2]}} />
        {{/if}}
      </ul>
    {{/if}}
  {{else}}
    <p>
      {{inline-svg "upload" class="icon"}}
      <span>There are no deployments to display yet</span>
    </p>
  {{/if}}
</Card>