{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<span data-test-image-ref class="image-ref" title="Image">
  <span class="image-ref__uri" data-test-image-ref-uri>
    {{this.uri}}
  </span>

  {{#if this.hasTag}}
    <span class="image-ref__tag badge badge--info" data-test-image-ref-tag title={{this.presentableTag}}>
      {{this.presentableTag}}
    </span>
  {{/if}}

  {{#if this.tagIsDigest}}
    <CopyButton
      @clipboardText={{@imageRef.tag}}
      @success={{perform this.displayCopySuccess}}
      class="image-ref__copy-button focus-ring"
      title={{t "image-ref.copy-button-title"}}
    >
      <FlightIcon @name={{if this.displayCopySuccess.isRunning "clipboard-checked" "clipboard-copy"}} />
    </CopyButton>
  {{/if}}
</span> 
