{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{#let
  (hash
    title=(or
      (and (eq @artifact "deployment") "page.deployment.title")
      (and (eq @artifact "build") "page.build.title")
      (and (eq @artifact "release") "page.release.title")
      "page.unavailable.title"
    )
    icon=(or
      (and (eq @artifact "build") "hammer")
      (and (eq @artifact "release") "globe")
    )
  )
  as |vars|
}}
<header data-test-panel-header class="panel-header {{if vars.icon "icon-header"}}">
  {{#if vars.icon}}
    <Hds::IconTile @icon={{vars.icon}} @size="large" />
  {{/if}}
  <div class={{if vars.icon "icon-header--title"}}>
    <h1>{{t vars.title}}
      {{#if @sequence}}
        <b class="badge badge--version">v{{@sequence}}</b>
      {{/if}}
    </h1>
    {{yield to="title"}}
  </div>
  <div class="actions">
    {{yield to="actions"}}
  </div>
</header>
{{/let}}
