{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<form {{on "submit" this.login}} class="login">
  <fieldset>
    <label for="invite-token-field">{{if @cli (t 'invite_login.input.cli_label') (t 'invite_login.input.label')}}</label>
    <Input
      autofocus
      data-test-invite-login
      @value={{this.inviteToken}}
      id="invite-token-field"
      placeholder={{if @cli (t 'invite_login.input.cli_placeholder') (t 'invite_login.input.placeholder')}} />
    </fieldset>

    <button
      data-test-invite-login-submit
      type="submit"
      class="button button--primary">
      {{if @cli (t 'invite_login.cli_button') (t 'invite_login.button')}}
    </button>
</form>