<div class="pdsDocs docs-text-input">
  {{!-- blank --}}
  <p>
    <label
      for="txtEmpty"
      class="pds--visuallyHidden"
    >
      Empty Text Input
    </label>

    <input
      type="text"
      id="txtEmpty"
      disabled={{@disabled}}
      required={{@required}}
      value={{@value}}
      class="pds-formControl
        {{if @invalid 'pds-invalid'}}
        {{if @dirty 'pds-dirty'}}
        {{if @focused 'mock-focus'}}
        {{if @hovered 'mock-hover'}}
      "
      placeholder={{this.placeholder}}
    />
  </p>

  {{!-- with placeholder --}}
  <p>
    <label
      for="txtWithPlaceholder"
      class="pds--visuallyHidden"
    >
      Text Input with Placeholder
    </label>

    <input
      type="text"
      id="txtWithPlaceholder"
      disabled={{@disabled}}
      required={{@required}}
      value={{@value}}
      class="pds-formControl
        {{if @invalid 'pds-invalid'}}
        {{if @dirty 'pds-dirty'}}
        {{if @focused 'mock-focus'}}
        {{if @hovered 'mock-hover'}}
      "
      placeholder="with placeholder..."
    />
  </p>

  {{!-- with value --}}
  <p>
    <label
      for="txtWithValue"
      class="pds--visuallyHidden"
    >
      Text Input with Value
    </label>

    <input
      type="text"
      id="txtWithValue"
      disabled={{@disabled}}
      required={{@required}}
      value="with value"
      class="pds-formControl
        {{if @invalid 'pds-invalid'}}
        {{if @dirty 'pds-dirty'}}
        {{if @focused 'mock-focus'}}
        {{if @hovered 'mock-hover'}}
      "
    />
  </p>
</div>
