<li class="app-item" data-test-app-item-build>
  <LinkTo @route="workspace.projects.project.app.build" @models={{array @build.sequence}}>
    <b class="badge badge--version">v{{@build.sequence}}</b>
    <small class="app-item__meta__secondary">
      {{#let (or @build.pushedArtifact @build) as |operation|}}
        <Pds::Icon
          @type={{icon-for-component operation.component.name}}
          class="icon"
        />

        <span>
          {{t
            (concat
              "build_status"
              ".type-" operation.component.type
              ".state-" operation.status.state
            )
          }}
          <b>{{component-name operation.component.name}}</b>
          <OperationStatusIndicator @status={{operation.status}} @matchTypography={{true}} />
        </span>
      {{/let}}
    </small>
  </LinkTo>

  {{#if (and (eq @build.status.state 2) (eq @build.pushedArtifact.status.state 2))}}
    <b class="badge badge--info">
      <Pds::Icon @type="clock-outline" class="icon" />
      <span>
        {{t "app_item_build.built_in"
          duration=(date-format-distance
            @build.status.startTime.seconds
            @build.status.completeTime.seconds
          )
        }}
      </span>
    </b>
  {{/if}}
</li>