<li class="app-item">
  <LinkTo @route="workspace.projects.project.app.build" @models={{array @build.id}}>
    <p>
      <b class="badge badge--version">v{{@build.sequence}}</b>
    </p>
    <small>
      <Pds::Icon @type={{icon-for-component @build.component.name}} class="icon" />
      <span>{{if (eq @model.status.state 1) 'Building' 'Built'}} with
        <b>{{titleize @build.component.name}}</b>
        {{#if (eq @build.status.state 1)}}
          (Started {{date-format-distance-to-now @build.status.startTime.seconds }})
        {{else}}
          {{date-format-distance-to-now @build.status.completeTime.seconds }}
        {{/if}}
      </span>
    </small>
  </LinkTo>
  {{#if (eq @build.status.state 1)}}
    <b class="badge">
      <Pds::Icon @type="clock-outline" class="icon" />
      <span>Building...</span>
    </b>
  {{else if (eq @build.status.state 2)}}
    <b class="badge badge--success">
      <Pds::Icon @type="check-plain" class="icon" />
      <span>Built in {{date-format-distance @build.status.startTime.seconds @build.status.completeTime.seconds }}</span>
    </b>
  {{else if (eq @build.status.state 3)}}
    <b class="badge badge--error">
      <Pds::Icon @type="alert-triangle" class="icon" />
      <span>Build failed</span>
    </b>
  {{/if}}
</li>