<li
  class="app-item
  {{if (not-eq @deployment.sequence @latest.sequence) "app-item--previous"}}
  {{if (eq @deployment.state 4) "app-item--destroyed"}}
  {{if (is-active 'workspace.projects.project.app.deployment.deployment-seq' @deployment.sequence) "active"}}"
>
  <hr>
  <LinkTo
    data-test-deployment-list-item
    title={{ concat
      "v" @deployment.sequence ": "
      (t (concat "page.deployments.status_prefix." @deployment.status.state))
      (component-name @deployment.component.name)}}
    @route="workspace.projects.project.app.deployment.deployment-seq"
    @models={{array @deployment.sequence}}
  >
    <b class="badge badge--version">v{{@deployment.sequence}}</b>
    <OperationStatusIndicator::Deployment @operation={{@deployment}}>
      <:small-text>
        {{#if (not-eq @latest.id @deployment.id)}}
        <span class="replacement-info">
          {{t "page.deployments.replaced_label"}}<b class="badge badge--version">v{{@latest.sequence}}</b>
        </span>
        {{/if}}
      </:small-text>
      <:badge>
        {{#if (eq @deployment.state 4)}}
          <b data-test-destroyed-badge class="badge badge--destroyed">
            <FlightIcon @name="trash" class="icon" />&nbsp; {{t "page.deployments.destroyed_label"}}
          </b>
        {{/if}}
      </:badge>
    </OperationStatusIndicator::Deployment>
  </LinkTo>
</li>
