<li class="app-item">
  <LinkTo @route="workspace.projects.project.app.deployment" @models={{array @deployment.id}}>
    <p>
      <b class="badge badge--version">v{{@deployment.sequence}}</b>
      <code>{{@deployment.id}}</code>
    </p>
    <small>
      {{inline-svg (icon-for-component @deployment.component.name) class="icon"}}
      <span>{{if (eq @deployment.status.state 1) 'Deploying' 'Deployed'}} by
        <b>{{component-name @deployment.component.name}}</b>
        {{#if (eq @deployment.status.state 1)}}
        (Started {{date-format-distance-to-now @deployment.status.startTime.seconds }})
        {{else}}
        {{date-format-distance-to-now @deployment.status.completeTime.seconds }}
        {{/if}}
      </span>
    </small>
  </LinkTo>
  {{#if @deployment.preload.deployUrl}}
  <ExternalLink href="https://{{@deployment.preload.deployUrl}}" class="button button--secondary">
    <span>{{lowercase @deployment.preload.deployUrl}}</span>
    {{inline-svg "exit" class="icon"}}
  </ExternalLink>
  {{/if}}
</li>