<li class="app-item">
  <LinkTo @route="workspace.projects.project.app.release" @models={{array @release.sequence}}>
    <p>
      <b class="badge badge--version">v{{@release.sequence}}</b>
    </p>
    <small class="app-item__meta__secondary">
      <Pds::Icon @type={{icon-for-component @release.component.name}} class="icon" />
      <span>{{if (eq @release.status.state 1) 'Releasing' 'Released'}} on
        <b>{{component-name @release.component.name}}</b>
        {{#if (eq @release.status.state 1)}}
          (Started {{date-format-distance-to-now @release.status.startTime.seconds }})
        {{else}}
          {{date-format-distance-to-now @release.status.completeTime.seconds }}
        {{/if}}
      </span>
    </small>
  </LinkTo>

  {{#if (and (not-eq @release.state 4) @release.statusReport)}}
    <StatusReportIndicator @statusReport={{@release.statusReport}} />
  {{/if}}

  {{#if (and @isLatest @release.url)}}
    <ExternalLink
      href={{enforce-protocol @release.url}}
      class="button button--primary button--external-link">
      <span>{{@release.url}}</span>
      <Pds::Icon @type="exit" class="icon" />
    </ExternalLink>
  {{/if}}
</li>
