<tr>
  {{!-- <LinkTo @route="workspace.projects.project.app.release" @models={{array @release.sequence}}> --}}
    <th scope="row">
      <b data-test-version-badge class="badge badge--version">v{{@release.sequence}}</b>
    </th>
    {{#let (or @release.pushedArtifact @release) as |operation|}}
      <td>
        <span data-test-status class="table__icon-text-cell">
          {{#if operation.status}}
            <FlightIcon
              data-test-status-icon
              @name={{or
                  (and (eq operation.status.state 1) "delay")
                  (and (eq operation.status.state 2) "check-circle")
                  (and (eq operation.status.state 3) "x-circle")
                  (and (eq operation.status.state 0) "delay")
                }}
              @size="16"
            />
            {{t
              (concat
                "app_item_release.status"
                ".state-" operation.status.state
              )
            }}
          {{else}}
            <FlightIcon
              data-test-status-icon
              @name="x-circle"
              @size="16"
            />
            {{t "app_item_release.status.state-unavailable"}}
          {{/if}}
        </span>
      </td>
      <td data-test-matching-deployment>
        {{!-- TODO: add popover here --}}
        {{#if @matchingDeployment}}
          Deployment <b class="badge badge--version">v{{@matchingDeployment}}</b>
        {{/if}}
      </td>
      <td data-test-provider>
        <FlightIcon
          data-test-icon-type={{icon-for-component operation.component.name}}
          @name={{icon-for-component operation.component.name}}
          @size="16"
        />
        {{component-name operation.component.name}}
      </td>
    {{/let}}
  {{!-- </LinkTo> --}}
</tr>
