<li class="app-item">
  <LinkTo @route="workspace.projects.project.app.release" @models={{array @release.id}}>
    <p>
      <b class="badge badge--version">v{{@release.sequence}}</b>
      <code>{{@release.id}}</code>
    </p>
    <small>
      {{inline-svg (icon-for-component @release.component.name) class="icon"}}
      <span>{{if (eq @release.status.state 1) 'Releasing' 'Released'}} on
        <b>{{component-name @release.component.name}}</b>
        {{#if (eq @release.status.state 1)}}
          (Started {{date-format-distance-to-now @release.status.startTime.seconds }})
        {{else}}
          {{date-format-distance-to-now @release.status.completeTime.seconds }}
        {{/if}}
      </span>
    </small>
  </LinkTo>

  {{#if (and @isLatest @release.url)}}
    <ExternalLink href={{@release.url}} class="button button--primary">
      <span>{{@release.url}}</span>
      {{inline-svg "exit" class="icon"}}
    </ExternalLink>
  {{/if}}
</li>