<li class="app-item">
  <LinkTo @route="workspace.projects.project.app.release" @models={{array @release.sequence}}>
    <p>
      <b class="badge badge--version">v{{@release.sequence}}</b>
    </p>
    <small class="app-item__meta__secondary">
      <OperationStatusIndicator::Release @operation={{@release}} />
    </small>
  </LinkTo>

  {{#if (and (not-eq @release.state 4) @release.statusReport)}}
    <small>
      <StatusReportIndicator @statusReport={{@release.statusReport}} />
    </small>
  {{/if}}

  {{#if (and @isLatest @release.url)}}
    <ExternalLink
      href={{enforce-protocol @release.url}}
      class="button button--primary button--external-link">
      <span>{{@release.url}}</span>
      <FlightIcon @name="external-link" class="icon" />
    </ExternalLink>
  {{/if}}
</li>
