<div class="output-pane">
  {{#if this.logLines}}
    <div class="output-scroll-y">
      {{#unless this.isFollowingLogs}}
        <button type="button" class="follow-logs" {{on "click" this.followLogs}}>
          <Pds::Icon @type="arrow-down" class="icon" />
          {{#if (gt this.badgeCount 0)}}
            <div class="badge">{{this.badgeCount}}</div>
          {{/if}}
        </button>
      {{/unless}}
      <div class="output-scroll-x" {{did-insert this.followLogs}}>
        {{#each this.logLines as |line|}}
          {{!-- Line object --}}
          <div class="log-line">
            {{#if (eq line.type this.typeLine)}}
              {{#if (eq line.logLine.style this.headerStyle)}}
                <code class="header"><strong>{{line.logLine.msg}}</strong></code>
              {{/if}}
              {{#if (eq line.logLine.style this.errorStyle)}}
                <code class="error">{{line.logLine.msg}}</code>
              {{/if}}
              {{#if (eq line.logLine.style this.errorBoldStyle)}}
                <code class="error-bold">{{line.logLine.msg}}</code>
              {{/if}}
              {{#if (eq line.logLine.style this.infoStyle)}}
                <code class="info">{{line.logLine.msg}}</code>
              {{/if}}
              {{#if (eq line.logLine.style this.warningStyle)}}
                <code class="warning">{{line.logLine.msg}}</code>
              {{/if}}
              {{#if (eq line.logLine.style this.warningBoldStyle)}}
                <code class="warning-bold">{{line.logLine.msg}}</code>
              {{/if}}
              {{#if (eq line.logLine.style this.successStyle)}}
                <code class="success">{{line.logLine.msg}}</code>
              {{/if}}
              {{#if (eq line.logLine.style this.successBoldStyle)}}
                <code class="success-bold">{{line.logLine.msg}}</code>
              {{/if}}
              {{#if (eq line.logLine.style "")}}
                <code><strong>{{line.logLine.msg}}</strong></code>
              {{/if}}
            {{/if}}

            {{!-- Step object --}}
            {{#if (eq line.type this.typeStep)}}
              <code>{{ansi-to-html line.logLine.output}}</code>
            {{/if}}

            {{!-- Status --}}
            {{#if (eq line.type this.typeStatus)}}
              <code>{{line.logLine.msg}}</code>
            {{/if}}
          </div>
        {{/each}}
        <div
          class="output-end"
          {{in-viewport
            onEnter=(fn (mut this.isFollowingLogs) true)
            onExit=(fn (mut this.isFollowingLogs) false)
          }}
          {{did-update this.updateScroll this.logLines.length}}
        ></div>
      </div>
    </div>
  {{else}}
    <EmptyState>
      <p>No output available</p>
      <p>This could be because the operation did not render any output, or because it is no longer available</p>
    </EmptyState>
  {{/if}}
</div>
