<div {{did-update this.setScrollPosition }} class="output">
    {{#if this.logLines}}

    {{#each this.logLines as |line|}}

    {{!-- Line object --}}
    {{#if (eq line.type this.typeLine)}}
    {{#if (eq line.logLine.style this.headerStyle)}}
    <code class="header"><strong>{{line.logLine.msg}}</strong></code>
    {{/if}}
    {{#if (eq line.logLine.style this.errorStyle)}}
    <code class="error">{{line.logLine.msg}}</code>
    {{/if}}
    {{#if (eq line.logLine.style this.errorBoldStyle)}}
    <code class="error-bold">{{line.logLine.msg}}</code>
    {{/if}}
    {{#if (eq line.logLine.style this.infoStyle)}}
    <code class="info">{{line.logLine.msg}}</code>
    {{/if}}
    {{#if (eq line.logLine.style this.warningStyle)}}
    <code class="warning">{{line.logLine.msg}}</code>
    {{/if}}
    {{#if (eq line.logLine.style this.warningBoldStyle)}}
    <code class="warning-bold">{{line.logLine.msg}}</code>
    {{/if}}
    {{#if (eq line.logLine.style this.successStyle)}}
    <code class="success">{{line.logLine.msg}}</code>
    {{/if}}
    {{#if (eq line.logLine.style this.successBoldStyle)}}
    <code class="success-bold">{{line.logLine.msg}}</code>
    {{/if}}
    {{#if (eq line.logLine.style "")}}
    <code>{{line.logLine.msg}}</code>
    {{/if}}

    {{/if}}

    {{!-- Step object --}}
    {{#if (eq line.type this.typeStepGroup)}}
    <code>{{line.logLine.msg}}</code>
    {{/if}}

    {{#if (eq line.type this.typeStep)}}
    <code>{{strip-ansi line.logLine.output}}</code>
    {{/if}}

    {{#if (eq line.type this.typeStatus)}}
    <code>{{line.logLine.msg}}</code>
    {{/if}}

    {{/each}}

    {{else}}
    <EmptyState>
        <p>Waiting for output</p>
        <p>Logs will be displayed in a moment</p>
    </EmptyState>
    {{/if}}
</div>