<li>
  <LinkTo @route="workspace.projects.project.app.deployment" @models={{array @model.id}}>
    <p>
      <b class="badge badge--version">v{{@model.sequence}}</b>
      <code>{{truncate @model.id 7}}</code>
    </p>
    <small>
      {{inline-svg (icon-for-component @model.component.name) class="icon"}}
      <span>{{date-format-distance-to-now @model.status.startTime.seconds }}</span>
    </small>
  </LinkTo>
</li>