{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<form {{on "submit" this.login}} class="login">
  <fieldset>
    <label>{{t 'login.instruction'}}</label>
    <CopyableCode @ref="waypoint-user-token">
      <pre><code id="waypoint-user-token">waypoint user token</code></pre>
    </CopyableCode>
    <small><ExternalLink href="https://waypointproject.io/commands/user-token">Read more in our documentation</ExternalLink></small>
  </fieldset>

  <fieldset>
    <label for="token-field">{{t 'login.input.label'}}</label>
    <Input
      autofocus
      data-test-login
      @value={{this.token}}
      id="token-field"
      placeholder={{t 'login.input.placeholder'}} />
  </fieldset>

  <button
    data-test-login-submit
    type="submit"
    class="button button--primary">
    {{t 'login.button'}}
  </button>
</form>
