<form {{on "submit" this.login}} class="login">
  <fieldset>
    <label>{{t 'login.instruction'}}</label>
    <CopyableCode @ref="waypoint-user-token">
      <pre><code id="waypoint-user-token">waypoint user token</code></pre>
    </CopyableCode>
    <small><ExternalLink href="https://waypointproject.io/commands/user-token">Read more in our documentation</ExternalLink></small>
  </fieldset>

  <fieldset>
    <label for="token-field">{{t 'login.input.label'}}</label>
    <Input
      autofocus
      data-test-login
      @value={{this.token}}
      id="token-field"
      placeholder={{t 'login.input.placeholder'}} />
  </fieldset>

  {{!-- Note: Because Hds::Button and Hds::LinkTo::Standalone's require an icon and text, the text 
  isn't centered in the component container, but in the space not including the icon. So 
  this swap out makes the centered text uneven with the "Authenticate with OIDC" LinkTo below --}}
  <Hds::Button @text={{t 'login.button'}} @icon="clipboard-copy" data-test-login-submit />
</form>
