<span class="copyable-code {{unless @inline 'block'}}">
  {{yield}}
  <CopyButton
   @clipboardTarget="#{{@ref}}"
   @success={{this.onSuccess}}
   @error={{this.onError}}
  >
    {{inline-svg (if copySuccess 'copy-success' 'copy-action') class="icon"}}
  </CopyButton>
</span>