{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<span class="copyable-code {{unless @inline 'block'}}">
  {{yield}}
  <CopyButton
   @clipboardTarget="#{{@ref}}"
   @success={{this.onSuccess}}
   @error={{this.onError}}
   class={{if this.copySuccess 'copy-success'}}
   title="Copy"
  >
    <FlightIcon @name={{if this.copySuccess 'clipboard-checked' 'clipboard'}} class="icon" />
  </CopyButton>
</span>
