<div class="status-row">
  {{#if this.statusReport}}
    <div class="item">
      <StatusReportIndicator @statusReport={{this.statusReport}} />
      {{#if this.statusReport.status.completeTime.seconds}}
      <div data-test-complete-time-status-report>
        Last checked {{date-format-distance-to-now this.statusReport.status.completeTime.seconds }}
      </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if this.deployment.build}}
    <div class="item">
      <small>
        Build <a href="#"><b class="badge badge--version">#{{this.deployment.build.sequence}}</b>
          <code>{{this.deployment.build.id}}</code></a>
      </small>
    </div>
  {{/if}}
  {{yield}}

  
  {{#if this.statusReport}}
    <div class="item">

      <Pds::Button @variant="ghost" @iconStart="refresh-default" disabled={{this.isRefreshRunning}} {{on "click" this.refreshHealthCheck}}>
        Re-run health check
      </Pds::Button>
    </div>
  {{/if}}
</div>
