<PageHeader @iconName="git-repository">
  <h1>{{@model.application}}</h1>
  <small>Application metadata</small>
</PageHeader>

<div class="cards">
  <Card>
    <p>Latest release</p>
  </Card>
  <Card>
    <p>Latest deploy</p>
  </Card>
  <Card>
    <p>Latest build</p>
  </Card>
</div>

<nav>
  <ul>
    <li>
      <LinkTo @route="workspace.projects.project.app.logs" @models={{array @model.project @model.application }}>
        {{inline-svg "page-outline" class="icon"}}
        {{t "nav.logs"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="workspace.projects.project.app.builds" @models={{array @model.project @model.application }}>
        {{inline-svg "source-file" class="icon"}}
        {{t "nav.builds"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="workspace.projects.project.app.deployments"
        @models={{array @model.project @model.application }}>
        {{inline-svg "upload" class="icon"}}
        {{t "nav.deployments"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="workspace.projects.project.app.releases" @models={{array @model.project @model.application }}>
        {{inline-svg "public-default" class="icon"}}
        {{t "nav.releases"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="workspace.projects.project.app.exec" @models={{array @model.project @model.application }}>
        {{inline-svg "bolt" class="icon"}}
        {{t "nav.exec"}}
      </LinkTo>
    </li>
  </ul>
</nav>

{{outlet}}
