{{page-title @model.application.application}}

{{#if (and
  (not-eq this.target.currentRouteName 'workspace.projects.project.app.build')
  (not-eq this.target.currentRouteName 'workspace.projects.project.app.deployment')
  (not-eq this.target.currentRouteName 'workspace.projects.project.app.release')
)}}
<PageHeader @iconName="git-repository">
  <div class="title">
    <h1>{{@model.application.application}}</h1>
    <small>
      {{#if @model.releases.length}}
      {{#if (eq @model.releases.[0].status.state 2)}}
      Last released {{date-format-distance-to-now @model.releases.[0].status.completeTime.seconds}}
      {{else}}
      Release in progress...
      {{/if}}
      {{else}}
      Not released yet
      {{/if}}
    </small>
  </div>
  <div class="actions">
    {{#if @model.releases.length}}
    <LatestReleaseUrl @releases={{@model.releases}}></LatestReleaseUrl>
    {{else}}
    <div class="first-run-hint">
      {{#if (and @model.builds.length @model.deployments.length)}}
      <p>To create your first release from your latest deployment, run:</p>
      <CopyableCode @ref="hint-release" @inline="true">
        <code id="hint-release">waypoint release</code>
      </CopyableCode>
      {{else}}
      <p>To create your first release, run the following to create a build, deployment and release:</p>
      <CopyableCode @ref="hint-release" @inline="true">
        <code id="hint-release">waypoint up</code>
      </CopyableCode>
      {{/if}}
    </div>
    {{/if}}
  </div>
</PageHeader>

<div class="cards app-latest">
  <div class="cards-wrap">
    <div class="cards-inner">
      <div class="card-outer"><AppCard::Builds @builds={{@model.builds}} /></div>
      <div class="card-outer"><AppCard::Deployments @deployments={{@model.deployments}} /></div>
      <div class="card-outer"><AppCard::Releases @releases={{@model.releases}} /></div>
    </div>
  </div>
</div>


<Pds::TabNav>
  <LinkTo @route="workspace.projects.project.app.logs"
    @models={{array @model.application.project @model.application.application }}>
    <Pds::Icon @type="page-outline" class="icon" />
    {{t "nav.logs"}}
  </LinkTo>
  <LinkTo @route="workspace.projects.project.app.builds"
    @models={{array @model.application.project @model.application.application }}>
    <Pds::Icon @type="build" class="icon" />
    {{t "nav.builds"}}
  </LinkTo>
  <LinkTo @route="workspace.projects.project.app.deployments"
    @models={{array @model.application.project @model.application.application }}>
    <Pds::Icon @type="upload" class="icon" />
    {{t "nav.deployments"}}
  </LinkTo>
  <LinkTo @route="workspace.projects.project.app.releases"
    @models={{array @model.application.project @model.application.application }}>
    <Pds::Icon @type="public-default" class="icon" />
    {{t "nav.releases"}}
  </LinkTo>
  <LinkTo @route="workspace.projects.project.app.exec"
    @models={{array @model.application.project @model.application.application }}>
    <Pds::Icon @type="exec" class="icon" />
    {{t "nav.exec"}}
  </LinkTo>
</Pds::TabNav>
{{/if}}

{{outlet}}
