<PageHeader @iconName="git-repository">
  <div class="title">
    <h1>{{@model.application.application}}</h1>
    <small>Application metadata</small>
  </div>
  <div class="actions">
    <LatestReleaseUrl @releases={{@model.releases}}></LatestReleaseUrl>
  </div>
</PageHeader>

<div class="cards app-latest">
  <AppMetaCardReleases @releases={{@model.releases}}></AppMetaCardReleases>
  <AppMetaCardDeployments @deployments={{model.deployments}}></AppMetaCardDeployments>
  <AppMetaCardBuilds @builds={{@model.builds}}></AppMetaCardBuilds>
</div>

<nav>
  <ul>
    <li>
      <LinkTo @route="workspace.projects.project.app.logs"
        @models={{array @model.application.project @model.application.application }}>
        {{inline-svg "page-outline" class="icon"}}
        {{t "nav.logs"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="workspace.projects.project.app.builds"
        @models={{array @model.application.project @model.application.application }}>
        {{inline-svg "source-file" class="icon"}}
        {{t "nav.builds"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="workspace.projects.project.app.deployments"
        @models={{array @model.application.project @model.application.application }}>
        {{inline-svg "upload" class="icon"}}
        {{t "nav.deployments"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="workspace.projects.project.app.releases"
        @models={{array @model.application.project @model.application.application }}>
        {{inline-svg "public-default" class="icon"}}
        {{t "nav.releases"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="workspace.projects.project.app.exec"
        @models={{array @model.application.project @model.application.application }}>
        {{inline-svg "bolt" class="icon"}}
        {{t "nav.exec"}}
      </LinkTo>
    </li>
  </ul>
</nav>

{{outlet}}