<PageHeader @iconName="folder-outline">
  <div class="title">
    <h1>{{@model.name}}</h1>
    <small>{{pluralize @model.applicationsList.length "application"}}</small>
  </div>
  <LinkTo @route="workspace.projects.project.settings" @model={{@model}}><Pds::Icon @type="settings"/> Settings </LinkTo>
</PageHeader>

{{#each @model.applicationsList as |app|}}
  <Card>
    <LinkTo @route="workspace.projects.project.app" @model={{app.name}}>
      <div class="row">
        <IconTile @icon="git-repository" @isSmall={{true}} />
        <div class="meta">
          <h2>{{app.name}}</h2>
        </div>
      </div>
    </LinkTo>
  </Card>
{{else}}
  <EmptyState>
    <p>There are no applications in this project yet</p>
    <p>To create your first application, run
      <CopyableCode @ref="empty-init" @inline="true">
        <code id="empty-init">waypoint init</code>
      </CopyableCode>
      from the CLI</p>
    <p>For more help getting started, refer to the <ExternalLink href="https://waypointproject.io/docs/getting-started">Waypoint documentation</ExternalLink></p>
  </EmptyState>
{{/each}}

{{outlet}}
