{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title (concat @model.name " | Resources")}}

<PageHeader @iconName={{icon-for-component @model.platform}}>
  <div class="title">
    <h1>{{@model.name}}</h1>
    <small>
      <span>{{@model.type}}</span>
    </small>
  </div>
  <div class="actions">
  </div>
</PageHeader>

<ResourceDetail @resource={{@model}} />
