<div class="pdsDocs docs-text-field">

  <div class="pds-formField">
    <label for="txtInput" class="pds-fieldName">
      {{@name}}
    </label>

    {{#if @helpText}}
      <p class="pds-helpText" id="txtHelp">
        {{@helpText}}
      </p>
    {{/if}}

    <input
      aria-describedby="
        {{if @helpText 'txtHelp'}}
        {{if @errorMessage 'txtError'}}
      "
      class="
        pds-formControl
        {{if @isDirty 'pds-dirty'}}
        {{if @isInvalid 'pds-invalid'}}
      "
      disabled={{@isDisabled}}
      id="txtInput"
      required={{@isRequired}}
      type="text"
      value={{@value}}
    />

    {{#if @errorMessage}}
      <Pds::ErrorMessage id="txtError">
        {{@errorMessage}}
      </Pds::ErrorMessage>
    {{/if}}
  </div>

</div>
