<li class="app-item">
  <LinkTo @route="workspace.projects.project.app.build" @models={{array @build.id}}>
    <p>
      <code>v{{@build.sequence}}</code>
    </p>
    <small>
      {{inline-svg "source-file" class="icon"}}
      <span>Built with <b>{{titleize @build.component.name}}</b>
        {{date-format-distance-to-now @build.status.startTime.seconds }}</span>
    </small>
  </LinkTo>
  <b class="badge badge--success">
    {{inline-svg "check-plain" class="icon"}}
    <span>Built in {{date-format-distance @build.status.startTime.seconds @build.status.completeTime.seconds }}</span>
  </b>
</li>