<li class="app-item">
  <LinkTo @route="workspace.projects.project.app.deployment" @models={{array @deployment.id}}>
    <p>
      <b class="badge badge--version">v{{@deployment.sequence}}</b>
      <code>{{@deployment.id}}</code>
    </p>
    <small>
      {{inline-svg (icon-for-component @deployment.component.name) class="icon"}}
      <span>Deployed by <b>{{component-name @deployment.component.name}}</b>
        {{date-format-distance-to-now @deployment.status.startTime.seconds }}</span>
    </small>
  </LinkTo>
  <button class="button button--secondary">
    <span>todo</span>
    {{inline-svg "exit" class="icon"}}
  </button>
</li>