<div class="artifact-overview">
  <table>
    <tbody>
      {{#if @model.artifactId}}
        <tr>
          <td>
            Image
          </td>
          <td>
            <ContainerImageTag @registry={{@model.component.name}} @artifactId={{@model.artifactId}} />
          </td>
        </tr>
      {{/if}}
      {{#if @model.statusReport}}
        <tr>
          <td>Health Check</td>
          <td>
            <div class="status-indicator">
              <StatusReportIndicator @statusReport={{@model.statusReport}} />
              <Pds::Button @variant="ghost" @iconStart="refresh-default" disabled={{this.isRefreshRunning}} {{on "click" this.refreshHealthCheck}}>
                Re-run
              </Pds::Button>
            </div>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>