<div class="artifact-overview">
  <table>
    <tbody>
      {{#if @statusReport}}
        <tr>
          <td>
            Image
          </td>
          <td>
            <ContainerImageTag @statusReport={{@statusReport}}/>
          </td>
        </tr>
        <tr>
          <td>Health Check</td>
          <td>
            <div class="status-indicator">
              <StatusReportIndicator @statusReport={{@statusReport}} /> &nbsp;
              <Pds::Button @variant="ghost" @iconStart="refresh-default" disabled={{this.isRefreshRunning}} {{on "click" this.refreshHealthCheck}}>
                Re-run
              </Pds::Button>
            </div>
          </td>
        </tr>
      {{else}}
        Currently unavailable
      {{/if}}
    </tbody>
  </table>
</div>