{{#each this.imageRefs as |imageRef|}}
  <span data-test-container-info class="container-badge" title="Image">
    {{imageRef.label}}
    <span class="container-badge-tag">
      {{#if (eq imageRef.label "sha256")}}
        {{truncate-commit imageRef.tag}}
      {{else}}
        {{imageRef.tag}}
      {{/if}}
    </span>
  </span> 
{{else}}
  n/a
{{/each}}
