<Card @classNames={{unless @builds 'empty-state'}}>
  {{#if @builds}}
    <Card::Header>
      <h4>
        {{inline-svg "source-file" class="icon"}}
        Latest builds
      </h4>
      <LinkTo @route="workspace.projects.project.app.builds">
        View all builds
      </LinkTo>
    </Card::Header>

    <AppMetaItem::LatestBuild @model={{@builds.[0] }} />

    <div class="app-meta-item">
      <ul class="app-meta-item-info">
        {{#if @builds.[1]}}
          <AppMetaItem::Build @model={{@builds.[1]}} />
        {{/if}}
        {{#if @builds.[2]}}
          <AppMetaItem::Build @model={{@builds.[2]}} />
        {{/if}}
      </ul>
    </div>
  {{else}}
    <p>
      {{inline-svg "source-file" class="icon"}}
      <span>There are no builds to display yet</span>
    </p>
  {{/if}}
</Card>