<form {{action 'login' on='submit'}} class="login">
  <p class="intro">You've been invited to join an existing Waypoint instance</p>
    <fieldset>
        <label for="invite-token-field">{{t 'invite_login.input.label'}}</label>
        <Input data-test-invite-login=true @value={{this.inviteToken}} id="invite-token-field"
            placeholder={{t 'invite_login.input.placeholder'}} />
    </fieldset>

    <button data-test-invite-login-submit {{action "login"}} type="button"
        class="button button--primary">{{t 'invite_login.button'}}</button>
</form>