<form {{action 'login' on='submit'}} class="login">
    <fieldset>
        <label>{{t 'invite_login.instruction'}}</label>
        <code class="copyable cmd">waypoint token invite</code>
        <small><a href="#">Read more in our documentation</a></small>
    </fieldset>

    <fieldset>
        <label for="invite-token-field">{{t 'login.input.label'}}</label>
        <Input data-test-invite-login=true @value={{this.inviteToken}} id="invite-token-field"
            placeholder={{t 'invite_login.input.placeholder'}} />
    </fieldset>

    <button data-test-invite-login-submit {{action "login"}} type="button"
        class="button button--primary">{{t 'invite_login.button'}}</button>
</form>