{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<h1>{{t 'auth.title'}}</h1>
<p>{{t 'auth.subtitle'}}</p>
{{#if @model.authMethodsList}}
  <OidcAuthButtons @model={{@model}}/>
{{else}}
  <p>
    <LinkTo @route="auth.token" class="button button--primary">
      {{t 'auth.button'}}
    </LinkTo>
  </p>
  <hr />
  <p>
    <small>
      <ExternalLink href="https://www.waypointproject.io/docs/server/auth/oidc">
        {{t 'auth.oidc_docs_link'}}
      </ExternalLink>
    </small>
  </p>
{{/if}}
<hr />
<p>
  <small>
    Received an invite?
    <LinkTo @route="auth.invite">Redeem invite</LinkTo>
  </small>
</p>
