{{#if this.cli}}
<div class="flash flash--success">
  <div class="flash-header">
    {{inline-svg "check-circle-fill" class="icon"}}
    <p>Authenticated successfully via the Waypoint CLI</p>
  </div>
</div>
{{/if}}

<PageHeader>
  <div class="title projects-title">
    <h1>Projects</h1>
    <small>
      {{#if @model.length}}
      {{pluralize @model.length "project"}}
      {{else}}
      No projects created yet
      {{/if}}
    </small>
  </div>
  <Pds::CtaLink @route="workspace.projects.new" @variant="primary "class="pds--iconStart">
    <Pds::Icon @type="plus-plain" class="pds-button__iconStart"/>
    &nbsp;New project
  </Pds::CtaLink>
</PageHeader>

<div data-test-project-list=true>
  {{#each @model as |project|}}
  <Card>
    <LinkTo @route="workspace.projects.project" @model={{project.project}}>
      <div class="row">
        <IconTile @icon="folder-outline" @isSmall={{true}} />
        <div class="meta">
          <h2>{{project.project}}</h2>
          {{!-- todo(pearkes): get full project objects from list api --}}
          {{!-- <small>{{pluralize project.applicationsList.length "application"}}</small> --}}
        </div>
      </div>
    </LinkTo>
  </Card>
  {{else}}
  <EmptyState>
    <p>There are no projects to display yet</p>
    <p>To create your first project, create a new application by running
      <CopyableCode @ref="empty-init" @inline="true">
        <code id="empty-init">waypoint init</code>
      </CopyableCode>
      from the CLI</p>
    <p>For more help getting started, refer to the <ExternalLink href="https://waypointproject.io/docs/getting-started">Waypoint documentation</ExternalLink></p>
  </EmptyState>
  {{/each}}
</div>
