{{page-title "Projects"}}

{{#if this.cli}}
<div class="flash flash--success">
  <div class="flash-header">
    <FlightIcon @name="check-circle-fill" class="icon" />
    <p>Authenticated successfully via the Waypoint CLI</p>
  </div>
</div>
{{/if}}

<PageHeader @className="projects-header">
  <div class="title">
    <h1>Projects</h1>
    <small>
      {{#if @model.length}}
      {{pluralize @model.length "project"}}
      {{else}}
      No projects created yet
      {{/if}}
    </small>
  </div>
  <Hds::LinkTo::Standalone @text={{t "form.project_new.title"}} @icon="plus" @iconPosition="leading" @route="workspace.projects.new" />
</PageHeader>

<div data-test-project-list>
  {{#if @model.length}}
    <ItemList
      @items={{@model}}
      @key="project"
      @route="workspace.projects.project"
      @icon="folder"
    />
  {{else}}
    <EmptyState>
    <p>There are no projects to display yet. <LinkTo @route="workspace.projects.new">Create your first project here</LinkTo>.</p>
    <p>Alternatively, you can run
      <CopyableCode @ref="empty-init" @inline="true">
        <code id="empty-init">waypoint init</code>
      </CopyableCode>
      from the CLI</p>
    <p>For more help getting started, refer to the <ExternalLink href="https://waypointproject.io/docs/getting-started">Waypoint documentation</ExternalLink></p>
  </EmptyState>
  {{/if}}
</div>
