<AppBreadcrumbs/>
<PageHeader @iconName="plus-plain">
  <div class="title">
    <h1>{{t 'form.project_new.title'}}</h1>
  </div>
</PageHeader>

<form class="pds-form" {{on "submit" this.saveProject}}>
  <div part="fields">
    <fieldset class="pds-formFieldSet">
      <div class="pds-formField">
        <label for="project-name" class="pds-fieldName">
          {{t 'form.project_new.project_name_label'}}
        </label>
        <Pds::Input
          @type="text"
          id="project-name"
          placeholder="my-new-project"
          required
          value={{this.model.name}}
          {{on "input" (pick "target.value" (set this "model.name"))}}
        />
      </div>
    </fieldset>
    <fieldset class="pds-formFieldSet">
      <div class="pds-formField">
        <label for="create-git" class="pds-fieldName">
          <Pds::Icon @type="git-repository"/> {{t 'form.project_new.create_git_label'}}
        </label>
        <Pds::HelpText>
          <p>{{t 'form.project_new.create_git_helptext'}}</p>
        </Pds::HelpText>
        <Pds::CheckboxField
          @checked={{this.createGit}}
          @id="create-git"
          {{on "change" (set this "createGit" (not this.createGit))}}
        >
          {{t 'form.project_new.create_git_checkbox_label'}}
        </Pds::CheckboxField>

      </div>
    </fieldset>
  </div>
  <Pds::Button @variant="primary" @type="submit">
    {{t 'form.project_new.button'}}
  </Pds::Button>
</form>
