<header id="header">
  <LinkTo @route="application" class="brand">
    {{inline-svg "waypoint-logo" class="logo"}}
    <span class="pds--visuallyHidden">{{t "product.name"}}</span>
  </LinkTo>
  <nav>
    <a href="#" class="soon">
      {{inline-svg "docs" class="nav-icon"}}
      Documentation
    </a>
    <Actions::Invite />
    <hr />
    <button class="logout soon">
      {{inline-svg "logout" class="nav-icon"}}
      Logout
    </button>
  </nav>
</header>

<section id="page">
  {{outlet}}
</section>