{{t "product.name"}}

<h3>{{t "nav.title"}}</h3>
<ul>
    <li>
        <LinkTo @route="workspace" @model={{"default"}}>
            {{t "nav.default_workspace"}}
        </LinkTo>
    </li>
</ul>

{{outlet}}